@import "tailwindcss";

:root {
  --background: #1a233a;
  --foreground-1: #FFFFF0;
  --foreground-2: #f5f7fa;
}

@theme {
  --color-comp-bg: #2a3550;
  --color-second-bg: #121826;
  --color-primary: #f5f7fa;
  --color-secondary: #d1d5db;
  --color-muted: #9ca3af;
  --color-accent: #007aff;
}

body {
  background: var(--background);
  color: var(--foreground-2);
}